*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(90deg, rgb(19, 218, 171),rgb(4, 188, 188));
    overflow-x: hidden;
}

section{
    width: 80vw;
    height: 80vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.222);
}
div.overlay{
    background-image: url(../IMG/3.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 30px;
    opacity: 0.05;
}
div.box-img {
    width: 50%;
    height: 100%;
}
div.box-img img{
    width: 100%;
    height: 100%;
}

div.box-title{
    text-align: center;
    font-size: 25px;
    padding: 50px;
    color: rgb(4, 162, 125);
}
div.box-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.box-content-login{
    flex-basis: 0;
}
h3{
    font-size: 15px;
    margin:15px 0 15px 20px ;
    color: rgb(4, 162, 125);
}
input{
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 400px;
    background-color: rgb(234, 235, 236);
    box-shadow: 3px 3px 6px rgb(99, 99, 99);
    margin: 10px;
}
input.bnt{
    margin-top: 50px;
    width: 400px;
    border-radius: 25px;
    margin-left: 25px;
    background-color: rgb(4, 162, 125);
    color: rgb(4, 115, 89);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
input.bnt:hover{
    background-color: rgb(2, 202, 156);
}
div.box-help{
    text-align: end;
    padding-top: 10px;
    margin: 0 20px 50px;
    text-decoration: none;
}
div.box-help a{
    text-decoration: none;  
    color: rgb(4, 162, 125); 
}
label{
    display: flex;
    justify-content: end;
    align-items: center;
}
i{
    position: absolute;
    margin: 25px;
}
    @media (max-width: 1250px) {
        section{
            width: 100%;
            flex-wrap: wrap;
            height:auto;
            
        }
        div.box-img {
            width: 80%;
        }
}
